* {
  box-sizing: border-box;
}
.ui.segment{
  background-color: transparent;
  width: 25%;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -12.5%;
  margin-left: -12.5%;
  box-shadow: none;


}

/* Dropdown CSS */
nav ul {
  -webkit-font-smoothing:antialiased;
  text-shadow:0 1px 0 #FFF;
  background: #ddd;
  list-style: none;
  margin: 0 auto;
  margin-top: 2%;
  padding: 0;
  width: 50%;
}
nav li {

  margin: 0 auto;
  padding: 0;
  position: relative;
  min-width: 25%;
  width:100%
}
nav a {
  background: #ddd;
  color: #444;
  display: block;
  font: bold 16px/50px sans-serif;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .50s ease;
  -moz-transition: all .50s ease;
  -ms-transition: all .50s ease;
  -o-transition: all .50s ease;
  transition: all .50s ease;
  width: 100%;
}

nav li:hover a {
  background: #ccc;
  color: #ffffff;
  text-decoration: none;
  text-shadow: none;
}
nav li ul {
  float: left;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 35px;
  visibility: hidden;
  z-index: 1;
  width: 100%;
  -webkit-transition: all .40s ease;
  -moz-transition: all .40s ease;
  -ms-transition: all .40s ease;
  -o-transition: all .40s ease;
  transition: all .40s ease;
}
.visible_menu {
  opacity: 1;
  top: 50px;
  visibility: visible;
}
nav li ul li {
  float: none;
  width: 100%;
}
nav li ul a:hover {
  background: #434343;
  transition: all 2s ease;
}

/* Clearfix */

.cf:after, .cf:before {
  content:"";
  display:table;
}
.cf:after {
  clear:both;
}
.cf {
  zoom:1;
  }​

/* Material Design Starts here */
html , body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; font-size: 14px;
  background-color: #454b54;
  color: #454b54;
}


.btn {
  display: inline-block;
  width: 4em;
  height: 4em;
  background-color: #000000;
  color: #9e9e9e;
  box-shadow: 0 0 5px
  rgba(0,0,0,0.2);
  border-radius: 2em;
  overflow: hidden;
  transform: translateZ(0) scale(5.0);
  transition: all 0.5s ease;

}

.btn:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.btn:active {
  transform: scale(1.1,1.1);
}

.btn:focus {
  outline: 0;
  border:none;
  color: rgba(0, 0, 0, 0);
}

.btn > span {
  display: block;
  position: relative;
  width: 2em;
  height: 2em;
  transition: transform 0.5s ease;
  overflow: hidden;
  margin: 1em;
}

.btn > span > span {
  display: block;
  background-color: #9e9e9e;
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  transition: all 0.5s ease;
  border: 1px solid transparent;
}

header .btn > span > span {
  background-color: #e91e63;
}

.btn.play > span {
  transform: translate(1em,0) scale(1.6,1);
}

.btn.play > span > span {
  transform: rotate(-45deg) translate(-1em, -1em) scale(1,1);
}

.btn.pause > span > span {
  transform: scale(0.4,1) translate(-1.6em, 0);
}

.btn.pause > span > span.s3 {
  transform: scale(0.4,1) translate(1.6em, 0);
}

.btn.stop > span {
  transform: scale(0.8,0.8);
}
